@import "_colors.scss";

.sessao-atividades {
  .atividades-titulo {
    font-size: 30px;
  }

  .container-atividades {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 850px) {
      justify-content: center;
    }
  }
}
